In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/main/Project/asuransi_mobil.csv')
data.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [2]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [3]:
# Melihat type data apakah berupa integer, bilangan desimal, atau data kategori
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [4]:
# mengecek apakah terdapat data yang kosong
data.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [5]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [8]:
# Drop data bentuk numeric karena akan dinormalisasi dulu
# axis = 1 artinya menghapus kolom, jika axis = 0 artinya menghapus baris
data_drop = data.drop(data_categorical, axis = 1) 
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [10]:
# mengecek apakah terdapat data yang kosong
data_drop.isnull().sum()

IDENTITAS                0
UMUR                     0
JENIS_KELAMIN            0
PENGALAMAN_MENGEMUDI     0
PENDIDIKAN               0
PENGHASILAN              0
PEMILIK_KENDARAAN        0
TAHUN_PRODUKSI           0
STATUS                   0
ANAK                     0
KODE_POS                 0
JENIS_KENDARAAN          0
TILANG_NGEBUT            0
TILANG_MABUK             0
KECELAKAAN_SEBELUMNYA    0
KLAIM                    0
dtype: int64

In [29]:
# mencari data unik jika tipe data berupa objek
# Melihat apa saja isi dari kolom umur (data kategori yang tidak dapat dibandingkan)
data_drop.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [46]:
data_drop.JENIS_KELAMIN.unique()

array(['perempuan', 'laki-laki'], dtype=object)

In [31]:
data_drop.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [32]:
data_drop.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [33]:
data_drop.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [34]:
data_drop.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [36]:
data_drop.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [37]:
data_drop.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [38]:
data_drop.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [39]:
data.JENIS_KENDARAAN .unique()

array(['keluarga', 'sport'], dtype=object)

In [40]:
data_drop.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [41]:
data_drop['UMUR'] = \
data_drop['UMUR'].map({'lebih dari 65 tahun':3, 'kurang dari 25 tahun':0,'antara 25-40 tahun':1, 'antara 40-65 tahun':2})

In [48]:
data_drop['JENIS_KELAMIN'] = \
data_drop['JENIS_KELAMIN'].map({'perempuan':0, 'laki-laki':1})

In [42]:
data_drop['PENGALAMAN_MENGEMUDI'] = \
data_drop['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':0, 'antara 10-20 tahun':1, 'antara 20-30 tahun':2,
       'lebih dari 30 tahun':3})

In [43]:
data_drop['PENGHASILAN'] = \
data_drop['PENGHASILAN'].map({'lebih dari 3x UMR':3, 'kurang dari UMR':0, 'antara 1-2x UMR':1,
       'antara 2-3x UMR':2})

In [44]:
data_drop['PENDIDIKAN'] = \
data_drop['PENDIDIKAN'].map({'SMA':1, 'tidak ada':0, 'universitas':2})

In [63]:
data_drop['PEMILIK_KENDARAAN'] = \
data_drop['PEMILIK_KENDARAAN'].map({'ya':0, 'tidak':1})

In [51]:
data_drop['TAHUN_PRODUKSI'] = \
data_drop['TAHUN_PRODUKSI'].map({'setelah 2020':0, 'sebelum 2020':1})

In [52]:
data_drop['STATUS'] = \
data_drop['STATUS'].map({'belum menikah':0, 'menikah':1})

In [53]:
data_drop['ANAK'] = \
data_drop['ANAK'].map({'tidak ada':0,'ada':1})

In [57]:
data_drop['KLAIM'] = \
data_drop['KLAIM'].map({'tidak':0, 'ya':1})

In [59]:
data_drop['JENIS_KENDARAAN'] = \
data_drop['JENIS_KENDARAAN'].map({'keluarga':0, 'sport':1})

In [64]:
data_drop.describe()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,0.0,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,500521.906800,1.489500,0.499000,1.069300,1.20130,1.899600,NaN,0.696700,0.498200,0.688800,19864.548400,0.047700,1.482900,0.23920,1.056300,0.313300
std,290030.768758,1.025278,0.500024,0.990452,0.73745,1.149109,NaN,0.459707,0.500022,0.463008,18915.613855,0.213141,2.241966,0.55499,1.652454,0.463858
min,101.000000,0.000000,0.000000,0.000000,0.00000,0.000000,NaN,0.000000,0.000000,0.000000,10238.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,249638.500000,1.000000,0.000000,0.000000,1.00000,1.000000,NaN,0.000000,0.000000,0.000000,10238.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,501777.000000,1.000000,0.000000,1.000000,1.00000,2.000000,NaN,1.000000,0.000000,1.000000,10238.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,753974.500000,2.000000,1.000000,2.000000,2.00000,3.000000,NaN,1.000000,1.000000,1.000000,32765.000000,0.000000,2.000000,0.00000,2.000000,1.000000
max,999976.000000,3.000000,1.000000,3.000000,2.00000,3.000000,NaN,1.000000,1.000000,1.000000,92101.000000,1.000000,22.000000,6.00000,15.000000,1.000000

In [72]:
# Normalisasi data dalam bentuk numerik
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data[data_categorical])
data_normalisasi = pd.DataFrame(d, columns=data[data_categorical].columns)
data_normalisasi.head(10)

   SKOR_KREDIT  KM_PER_TAHUN
0     0.634374          0.50
1     0.335441          0.70
2     0.484636          0.45
3     0.168222          0.45
4     0.369171          0.50
5     0.623464          0.55
6     0.484413          0.55
7     0.457685          0.60
8     0.516229          0.55
9     0.559995          0.45